/* Color scheme: https://colorhunt.co/palette/0e2148483aa07965c1e3d095*/

body {
    background-color: #0E2148;
    color: #E3D095;
    font-family: Inter, sans-serif;
}

#topBanner {
    font-size: 3em;
    text-align: center;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 2em;
}

.buttons {
    padding: 10px 20px;
    font-size: 1, 5em;
    border-radius: 7px;
    cursor: pointer;
    background-color: #483AA0;
    color: #E3D095;
    transition: background-color 0.25s;
    border: none;
    margin: 7px;
}

.buttons:hover {
    background-color: #7965C1;
}

#btnContainer {
    text-align: center;
}

#playerName {
    display: block;
    text-align: center;
    font-size: 2em;
}

#playerOne {
    display: none;
}

#playerDiv {
    text-align: center;
    font-size: 1, 5em;
}

#activePlayers {
    display: block;
    text-align: center;
    font-size: 2em;
}

#playerPara {
    display: none;
}

#activePlayerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.player-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #483FAF;
    border: none;
}

/* Align text and inputs in player entries */
.player-entry label {
    flex: 1;
    text-align: left;
}

.math-input {
    flex: 2;
    margin: 0 10px;
    color: #E3D095;
}

*.score-label {
    flex: 1;
    text-align: right;
}

button {
    margin-left: 10px;
}

.textBox {
    background-color: #483AA0;
    color: #E3D095;
    border: none;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
}

.hidden {
    display: none;
}

#playerList {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

